<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pedro.infoue">

    <!-- AÑADO PERMISOS PARA ACCEDER A INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- EN LOS ATRIBUTOS ICON Y ROUNDICON PONGO ICONO CIRCULAR -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/europeanunion"
        android:label="@string/app_name"
        android:roundIcon="@drawable/europeanunion"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PaginaWeb" />
        <activity android:name=".ListaPaises" />
        <activity android:name=".WikiEU" />
        <activity android:name=".TrivialBanderas" />
        <activity android:name=".TrivialCapitales"/>
    </application>

</manifest>